* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --height-nav-bar: 2.7rem;
  font-size: 1rem;
  line-height: 0.2rem;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  /* letter-spacing: 0.5rem; */
}
body {
  height: 100vh;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.visually-hidden {
  display: none;
}

.navbar {
  display: flex;
  margin: auto auto;
  width: 100%;
  position: relative;
  height: 2.7rem;
  z-index: 5;
  background-color: #333333;
 vertical-align:middle; 

}

.navbar-list {
  background-color: #333333;
  position: fixed;
  width: 100%;
  height: 2.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  color: #86868b;
  padding: 0 7.2rem;
  opacity: 0.98;
  /* z-index: 3; */

}

a i {
  color: #86868b;
  width: 100%;
  height: 100%;
    vertical-align:middle; 
    font-size: 18px;
}


li {
  list-style: none;
  /* padding: 1.5rem; */
  font-size: 12px;

}

a {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.navbar-list-item:hover,
.navbar-list-item i:hover {
  cursor: pointer;
  color: white;
  /* transition-delay: 0.2s; */
  transition-duration: 0.5s;
}

.page-1 {
  height: 110vh;
  background-color: #fbedf9;
}

.shop-early-bar {
  display: grid;
  /* justify-content: center; */
  font-size: 0.9rem;
  color: white;
  background-color: #e34140;
}

.shop-early-content-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  height: 2.7rem;
}
.shop-early-content-container p {
  align-self: center;
}
.arrow-container {
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  color: #0066cc;
}

.arrow-container--white {
  text-decoration: none;
  font-size: 8px;
  color: white;
}

/* .svg-arrow-container:hover {
  } */

.shop-now--white {
  color: white;
 vertical-align:middle; 
}

.margin-right {
  margin-right: 2.5rem;
}
.shop-now--blue {
  line-height: 29px;
  font-size: 20px;
  color: #0066cc;
}
.shop-now--white:hover {
  text-decoration: underline;
}

.shop-now--blue:hover {
  text-decoration: underline;
}

.arrow-container::after {
  content: "";
  /* padding: 0px 20px; */
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
  display: inline-block;
  /* color: #096bce; */
}

.holidays-section {
  display: grid;
  height: 16rem;
  /* border: 2px solid blueviolet; */
}

.holiday-apple-present {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.holiday-headline {
  margin-top: 1rem;

  font-size: 3.2rem;
  /* padding: 2rem; */
}
.image-apple-present {
  position: relative;
}
.apple-image {
  /* width: 100vw; */
  height: 5.5rem;
  width: 4.5rem;
}
.image-apple-present {
  background: url("https://www.apple.com/v/home/ah/images/logos/holiday-2021/logo__dcojfwkzna2q_small_2x.png")
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
}

.circle-images-container {
  display: flex;
  height: 80vh;
  justify-content: center;
}
.circle-images-container .img {
  margin: 10px;
}
.img1-macbook {
  width: 18rem;
  height: 18rem;
}
.img2-ipad-mini {
  width: 18rem;
  height: 18rem;
}
.img3-ipad-air {
  width: 18rem;
  height: 18rem;
}

.macbook {
  background: url("https://www.apple.com/v/home/ah/images/heroes/holiday-2021/set-c/macbook__d0g7o7oqt282_large_2x.png")
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
}
.ipad-mini {
  background: url("https://www.apple.com/v/home/ah/images/heroes/holiday-2021/set-c/ipadmini__f0pd6cilwaie_large_2x.png")
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
}
.ipad-air {
  background: url("https://www.apple.com/v/home/ah/images/heroes/holiday-2021/set-c/ipadair__fkr21evsr6a2_large_2x.png")
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
}

/* -------------------------------------------------Page2------------------------------------------------------------------------------------ */

.page-2 {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 0.9rem;
}

.iphone-13-image-container {
  height: 100vh;
  width: 100%;
  margin: auto;
}

.page-2-heading {
  height: 30vh;
  width: 100%;
  position: absolute;
  top: 125vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.heading {
  font-size: 3.2rem;
}

.subhead {
  font-size: 1.8rem;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
}

.links {
  justify-content: space-between;
}

.page-2-iphone-13-image {
  background: url("https://www.apple.com/v/home/ah/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_large_2x.jpg")
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
}

/* -------------------------------------------------Page3------------------------------------------------------------------------------------ */

.page-3 {
  background-color: #34283c;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 0.9rem;

}

.page3-iphone-image-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-3-heading {
  height: 30vh;
  width: 100%;
  position: absolute;
  top:225vh;
  display: flex;
  text-align: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.heading3 {
  font-size: 3.3rem;
}

.subhead3 {
  font-size: 1.8rem;
  font-weight: 200;
  color: #c999bd;
}

.page-3-iphone-13-image {
  background: url("https://www.apple.com/v/home/ah/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_large_2x.jpg")
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
}

/* -------------------------------------------------Page4------------------------------------------------------------------------------------ */

.page-4{
height: 300vh;
width: 100%;
font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin-bottom: 0.9rem;

}

.parent {
    height: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 3 / 2; 
        position: relative;
        display: flex;
        justify-content: center;
    }
    .div2 { 
        grid-area: 1 / 2 / 3 / 3; 
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .div3 { 
    grid-area: 3 / 1 / 5 / 2; 
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    }

    .div4 { 
        grid-area: 3 / 2 / 5 / 3; 
    display: flex;
    justify-content: center;
    }
    .div5 {
         grid-area: 5 / 1 / 7 / 2; 
         position: relative;
    display: flex;
    justify-content: center;
    left: 0;
    height: 100%;
    }
    
    .div6 { grid-area: 5 / 2 / 7 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 100%;
    }
    
    .grid{
        width:100%;
        height:100%;
    }
    
    .pic1{
        background: url("https://www.apple.com/v/home/ah/images/promos/macbook-pro/tile_macbookpro__cx0ur0qg9biq_large_2x.jpg")no-repeat center center/cover;
    }

    .header-container-1{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        text-align: center;
        top:4rem;
        height: 25%;
    }
    
    .heading{
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        align-self: center;
    }
    
    
    .head1{
        font-size: 2.3rem;
        font-weight: 700;
        
    }
    .head-subhead1{
    font-size: 1.2rem;
    font-weight: 400;
    }

    .header-container-2{
        position: absolute;
        top: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 3rem;
        text-align: center;
        width: 100%;
    }
    
    .new{
        display: flex;
        position: relative;
        top:5px;
        align-self: center;
        font-size: 0.8rem;
        color: #C45614;
    }
    
    .apple-watch-title{    
        display: flex;
        justify-content: center;
        align-content: center;        
    }

    img{
        transform: scale(0.5);
        align-self: center;

    }    
    .pic2{
        background: url("https://www.apple.com/v/home/ah/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_large_2x.jpg")no-repeat center center/cover;
        background-color: #F5F5F7;
    }
    
    
    .header-container-3{
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 8rem;
        width: 100%;
    }

    .header-container-4{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
    }
    
    .r{
        font-size: 11px;
        vertical-align: top;
    }

    .header-container-5{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        margin-top: 3rem;
    }
    
    .header-container-6{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        margin-top: 3rem;
        /* width: 100%; */
    }
.stream{
    color: white;
    align-self: center;
    justify-content: space-between;
}

.stream:hover{
    text-decoration: underline;
}
    .apple-tv{
        justify-content: center;
        align-self: center;
    }

.dickinson{
    align-self: flex-end;
}

    .heading5 {
        font-size: 1.2rem;
        padding: 5px;
        margin-top: -0.8rem;
    }
    .pic3{
        background: url("https://www.apple.com/v/home/ah/images/promos/homepod-mini/tile_homepod_mini__b73w4z3ljymu_large_2x.jpg")no-repeat center center/cover;
    }
    .pic4{
        background: url("https://www.apple.com/v/home/ah/images/promos/arcade-lego-castaways/tile_lego_castaways__d2v36ez91ewm_large_2x.jpg")no-repeat center center/cover;
    }
    .pic5{
        background: url("https://www.apple.com/v/home/ah/images/promos/apple-card/tile__cauwwcyyn9hy_large_2x.jpg")no-repeat center center/cover;
    }
    .pic6{
        background: url("https://www.apple.com/v/home/ah/images/promos/tv-plus-dickinson-s3/promo_dickinson__c9ea4l2f5rki_large_2x.jpg")no-repeat center center/cover;
    }
    .fas .fa-play-circle{
        color:white;
    }

    .footer{
        height: 100vh;
        background-color: #F5F5F7;
        display: flex;
        color: #6e6e73
        ;
    }

    .footer-content{
        width: 82%;
        margin: 0 auto;
        color: #424245;
        font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .lists{
        width: 82%;

        margin: 2rem auto ;
        display: flex;
        justify-content: space-between;
        color:#9f9fa3;
    }
    
    .content{
        width:82%;
        margin: auto;
        margin-top: 20px;
        font-size: 12px;
        line-height: 16px;
        color: #6e6e73;
        
        font-family: 
        "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    li h4{
        font-family: 
        "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #1d1d1f;
    }
    ul li{
        margin-top:5px;
    }
    ul li a{
        font-size: 12px;
        display: flex;
        color: #555757;
    }
    .terms a{
        list-style: none;
        font-size: 12px;
        color:#424245;
    }

    .terms:hover{
        text-decoration: underline;
    }
    .ul-1{
        /* display: flex; */
        justify-content: center;
        flex-direction: column;
    }
    .ul-2{
        /* display: flex; */
        justify-content: center;
        flex-direction: column;
    }

    .more{
        display: flex;
        justify-content: center;
        font-size: 12px;
        margin-right: 38rem;
            color: #555757;
        margin-bottom: 0;
    }

    .apple-store{
        text-decoration: underline;
        color: #0066cc;
        font-size: 12px;
    }

    .gray-line{
        color: slategrey;
        margin-left: 6rem;
        font-weight: 50;
        opacity: 0.5;
        margin-top:-9px;
    }

    .finishLine{
        font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;;
        display: flex;
        font-size: 12px;
    }
        .Copyright {
            margin: 0px 100px;
            color: #555757;
          }
          .finishLine {
            display: flex;
          }
          .navFooter {
            display: flex;
            list-style-type: none;
            font-size: 12px;
            margin-bottom: 30px;
            color: #555757;
          }
          .navFooter :hover {
            text-decoration: underline;
          }
          .navFooter a {
            text-decoration: none;
            color: #555757;
          }
          .United_States {
            margin-left: 120px;
            font-size: 12px;
          }
          .United_States :hover {
            text-decoration: underline;
          }
          
          .United_States a {
            text-decoration: none;
            color: #555757;
          }
          
    